<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartWaterIrrigation</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>home.htm</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.servlet.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FarmerAdd</display-name>
    <servlet-name>FarmerAdd</servlet-name>
    <servlet-class>com.servlet.FarmerAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FarmerAdd</servlet-name>
    <url-pattern>/FarmerAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FarmerLogin</display-name>
    <servlet-name>FarmerLogin</servlet-name>
    <servlet-class>com.servlet.FarmerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FarmerLogin</servlet-name>
    <url-pattern>/FarmerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginFarmer</display-name>
    <servlet-name>LoginFarmer</servlet-name>
    <servlet-class>com.servlet.LoginFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFarmer</servlet-name>
    <url-pattern>/LoginFarmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCropSugg</display-name>
    <servlet-name>AddCropSugg</servlet-name>
    <servlet-class>com.servlet.AddCropSugg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCropSugg</servlet-name>
    <url-pattern>/AddCropSugg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFerSugg</display-name>
    <servlet-name>AddFerSugg</servlet-name>
    <servlet-class>com.servlet.AddFerSugg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFerSugg</servlet-name>
    <url-pattern>/AddFerSugg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFarmer</display-name>
    <servlet-name>UpdateFarmer</servlet-name>
    <servlet-class>com.servlet.UpdateFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFarmer</servlet-name>
    <url-pattern>/UpdateFarmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginGuest</display-name>
    <servlet-name>LoginGuest</servlet-name>
    <servlet-class>com.servlet.LoginGuest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginGuest</servlet-name>
    <url-pattern>/LoginGuest</url-pattern>
  </servlet-mapping>
</web-app>